<!DOCTYPE html>
<html>
  <head>
    <title>Care Ctrl</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/app.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="/js/bootstrap-select.js"></script>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
